.userMenu {
  display: flex;
  width: 300px;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.welcome {
  font-weight: 700;
  font-size: 22px;
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
}
